[submodule "modules/xsimd"]
	path = modules/xsimd
	url = https://github.com/ramerdigital/xsimd.git
[submodule "modules/json"]
	path = modules/json
	url = https://github.com/ramerdigital/nlohmann-json.git
[submodule "modules/Eigen"]
	path = modules/Eigen
	url = https://github.com/ramerdigital/Ramer-eigen.git
