[submodule "third-party/Eigen"]
	path = third-party/Ramer-eigen
	url = https://github.com/ramerdigital/Ramer-eigen.git
[submodule "third-party/Ramer-xsimd"]
	path = third-party/Ramer-xsimd
	url = https://github.com/RamerDigital/Ramer-xsimd.git
[submodule "third-party/Ramer-nlohmann-json"]
	path = third-party/Ramer-nlohmann-json
	url = https://github.com/RamerDigital/Ramer-nlohmann-json.git
